* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient( 85.2deg,  rgba(33,3,40,1) 7.5%, rgba(65,5,72,1) 88.7% );
}

.footer {
    background-color: #e6dede;
    color: rgb(8, 8, 8);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer p {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-icon img {
    width: 30px;
    height: 30px;
}

.social-icon:hover {
    transform: scale(1.1);
}